<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png" th:href="@{/images/favicon.png}">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png" th:href="@{/images/app-icon.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="assets/css/admin.css" th:href="@{/css/admin.css}"/>
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input{
            position:absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
    </style>
</head>
<body>
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>Amaze UI</strong> <small>客户端</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> <%=(String)session.getAttribute("name")%> <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> 开启全屏</a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="AttendMeet.jsp"><span class="am-icon-home"></span> 会议登记</a></li>
            <li><a href="MyMeet.jsp"><span class="am-icon-table"></span> 我的会议</a></li>

        </ul>
    </div>
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
        </div>
        <div class="col-sm-12 col-md-11 col-md-pull-1">
            <form id="headupload" class="am-form am-form-horizontal" method="POST" enctype="multipart/form-data">
                <div class="col-sm-6 col-sm-offset-3">
                            <span class="am-btn-primary am-btn fileinput-button">
                                <span>选择图片</span>
                                <input type="file" name="headimg">
                            </span>
                    <br/><br/>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-11 col-md-pull-1">

            <form class="am-form am-form-horizontal"  method="post">
                <div class="am-form-group">
                    <label for="name" class="col-sm-3 am-form-label">商品名称</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" name="name" placeholder="请输入商品名称" >


                    </div>
                    <label for="oldprice" class="col-sm-3 am-form-label">原价</label>
                    <div class="col-sm-9">
                        <input type="text" id="oldprice" name="oldprice" placeholder="请输入商品原价" >


                    </div>
                    <label for="newprice" class="col-sm-3 am-form-label">商城价</label>
                    <div class="col-sm-9">
                        <input type="text" id="newprice" name="newprice" placeholder="请输入商城价" >


                    </div>

                    <label for="category" class="col-sm-3 am-form-label">分类</label>
                    <div class="col-sm-9">
                        <input type="text" id="category" name="category" placeholder="请输入商品分类1-7" >


                    </div>
                    <label for="info" class="col-sm-3 am-form-label">描述信息</label>
                    <div class="col-sm-9">
                        <input type="text" id="info" name="info" placeholder="请输入描述信息" >

                    </div>



                    <div class="col-sm-3">
                        <button class="btn btn-info " >
                            <a href="javascript:void(0)" th:onclick="update()">上新</a>
                        </button>
                    </div>

                </div>


            </form>


    </div>
    </div>
</div>
<script th:inline="javascript">
    var contextPath = [[${#request.getContextPath()}]];
    var user = [[${session.username}]];
    var filename;
</script>
<script src="dist/js/jquery.min.js" th:src="@{/dist/js/jquery.min.js}"></script>
<script>
    $('#headupload').change(function () {
        // FormData这个对象能打包一个表单的所有数据
        let sendData = new FormData($('#headupload')[0]);
        $.ajax({
            url:contextPath+"/shop/uploadHead",
            data:sendData,
            type : 'post',
            cache:false,//文件不设置缓存
            processData: false,//数据不被转换为字符串
            contentType: false,//上传文件时使用，避免 JQuery 对其操作
            dataType:"json",
            success:function (res) {
                if(res=='1'){
                    alert("不支持该格式");

                }else{
                    filename=res;
                }

            },
            error:function () {
            },
            async:true
        })
    })

    function update() {
        var name = $("#name").val();
        var oldprice=$("#oldprice").val();
        var newprice=$("#newprice").val();
        var category=$("#category").val();
        var info=$("#info").val();


        if (name==''||oldprice==''||newprice==''||category==''||info==''){
            alert("内容不能为空")
            return ;
        }


        $.ajax({
            type:"POST",
            url:contextPath+ "/shop/addthing",
            data:{'name':name,'oldprice':oldprice,'newprice':newprice,'category':category,'info':info},
            success:function (data) {
                if (data=='success'){
                    alert("发表成功");
                    window.location.href = contextPath + "/bbs/all";

                }
            }
        });

    }





</script>
</body>
</html>